name: Deploy scrapper

on:
  push:
    branches:
      - master
      - devops
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: scrapper
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Rebuild containers
      run: |
        docker compose -f docker-compose.yml  up -d --build --force-recreate